<br>
<br>

<h2 class="h2 text-center">פתיחת ועריכת גמ"ח</h2>

<form class="needs-validation" novalidate>
    <div class="form-group col-md-4 mb-3">
        <label for="validationTooltip01">שם הגמ"ח</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder='שם הגמ"ח' required>
        <div class="invalid-tooltip">
            Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>
    <div class="form-group col-md-4 mb-3">
        <label for="validationTooltip02">תיאור פעילות הגמ"ח</label>
        <textarea class="form-control" id="validationTooltip02" placeholder='תיאור פעילות הגמ"ח' rows="3" required></textarea>
        <div class="invalid-tooltip">
            Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>
    <div class="form-group col-md-4 mb-3">
        <label for="validationTooltipUsername">כתובת מגורים</label>
        <input type="text" class="form-control" id="validationTooltipUsername" placeholder="כתובת מגורים" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
            Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>
    <div class="form-group col-md-4 mb-3">
        <label for="validationTooltipUsername">טלפון</label>
        <input type="tel" class="form-control" id="validationTooltipUsername" placeholder="טלפון" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
            Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>
    <div class="form-group col-md-4 mb-3">
        <label for="validationTooltipUsername">כתובת דואר אלקטרוני</label>
        <input type="email" class="form-control" id="validationTooltipUsername" placeholder="כתובת דואר אלקטרוני" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
            Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
            Looks good!
        </div>
    </div>

    <div class="text-center center">
        <button class="btn btn-outline-primary m-1" type="button">ביטול</button>
        <button class="btn btn-primary m-1" type="submit">אישור</button>
    </div>




</form>