<div class="d-flex justify-content-between">
    <div class="d-inline float-left">
        <span>מופעל על ידי</span>
        <a routerLink="/main-home"> קלגמ"ח </a>
    </div>

    <div class="d-inline center">
        ר. ברסקי וצ. גוטליב
        <span>&copy; ה'תש"פ 2020 </span>
    </div>

    <div class="d-inline float-right">
        Icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
</div>